.movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    opacity: 0;
    transition: animation .2s;
    animation: test 1s forwards;

    img {
        width: 50%;
        cursor: pointer;

        &:hover {
             box-shadow: -1px 0px 5px 5px rgb(255,0,0);
        }
    }
}

@keyframes test {
    to {
        opacity: 1;
    }
}