.Spinner {
  border: 5px solid red;
  border-bottom: transparent;
  border-left: transparent;
  border-radius: 50%;
  margin: auto;
  width: 50px;
  height: 50px;
  transition: animation 0.3s;
  animation: spin 1s forwards linear infinite;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  p {
    margin-top: 1rem;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
