.Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0;
  transition: animation 0.3s;
  animation: fadeIn 0.7s forwards;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1200px) {
  .Wrapper {
    height: auto;
    max-height: none;
    overflow-y: scroll;
  }
}
