.Error {
  color: red;
  width: 90vw;
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
  transition: animation 0.3s;
  animation: shake 1s;
  overflow: hidden !important;
}
.ResultsAll {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  gap: 15px;
}

@media screen and (min-width: 1000px) {
  .ResultsAll {
    grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
  }
}
